@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #0d0d0d;
  --bg-color: #fcfcfc;
}

body {
  color: var(--foreground-color);
  background: var(--bg-color);
}

#blackNav {
  height: 9rem;
}
